<html>
    <head>
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""
        />
        <script
            src="https://unpkg.com/leaflet@1.7.1/dist/leaflet-src.js"
        ></script>
        <!-- <script type="text/javascript" src="https://unpkg.com/leaflet.vectorgrid@1.2.0"></script>         -->
        <script type="text/javascript" src="https://unpkg.com/leaflet.vectorgrid@1.3.0/dist/Leaflet.VectorGrid.bundled.js"></script>

    </head>
    <body>
        <div id="mapid" style="width: 1800px; height: 1000px; background:#aad3df"></div>
        <script>
            var mymap = L.map("mapid").setView({{map_view}});

            const road_opts = {
                interactive: true,
                vectorTileLayerStyles: {
                    trunk: {weight: 2, color: "red"},
                    road: {weight: 1, color: "white"},
                    secondary: function(properties, zoom){
                        const c = '#f7fabf';
                        if (zoom < 6){ return {weight: 1, color: c} };
                        if (zoom < 10){ return {weight: 3, color: c} };
                        return {weight: 5, color: c}
                    },
                    trunk_link: {weight: 2, color: "red"},
                    tertiary: function(properties, zoom){
                        const c = '#ffffff';
                        if (zoom < 6){ return {weight: 1, color: c} };
                        if (zoom < 10){ return {weight: 2, color: c} };
                        return {weight: 3, color: c}
                    },
                    secondary_link: function(properties, zoom){
                        const c = '#f7fabf';
                        if (zoom < 6){ return {weight: 1, color: c} };
                        if (zoom < 10){ return {weight: 2, color: c} };
                        return {weight: 4, color: c}
                    },
                    tertiary_link: function(properties, zoom){
                        const c = '#ffffff';
                        if (zoom < 6){ return {weight: 1, color: c} };
                        if (zoom < 10){ return {weight: 3, color: c} };
                        return {weight: 5, color: c}
                    },
                    primary: function(properties, zoom){
                        const c = '#fcd6a4';
                        if (zoom < 6){ return {weight: 1, color: c} };
                        if (zoom < 10){ return {weight: 3, color: c} };
                        return {weight: 5, color: c}
                    },
                    residential: {weight: 1, color: "ffffff"},
                    primary_link: function(properties, zoom){
                        const c = '#fcd6a4';
                        if (zoom < 6){ return {weight: 1, color: c} };
                        if (zoom < 10){ return {weight: 3, color: c} };
                        return {weight: 5, color: c}
                    },
                    track: {weight: 1, color: "white"},
                    service: {weight: 1, color: "white"},
                    unclassified: {weight: 1, color: "white"},
                    path: {weight: 0.5, color: "white"},
                }
            }

            const opts = {
                interactive: true,
                vectorTileLayerStyles: {
                    admin_boundary: {
                        weight: 2,
                        color: "#cdbcc9",
                        fillColor: "#f2efe9",
                        fillOpacity: 1,
                        fill: true
                    },
                    islands: {
                        weight: 1,
                        color: "#cdbcc9",
                        fillColor: "#f2efe9",
                        fillOpacity: 1,
                        fill: true
                    }
                }
            };

            const overpass_style = {
                interactive: true,
                vectorTileLayerStyles: {
                 overpass: function(properties, zoom) {
                    return {
                        weight: 2,
                        color: 'red',
                        opacity: 1,
                        fillColor: 'yellow',
                        fill: true,
                        radius: 6,
                        fillOpacity: 0.7
                    }
                },
                    // overpass: {icon: new L.Icon.Default()}
                }
            };

            // const islands = L.vectorGrid.protobuf("{% url 'djangostreetmap:islands' %}{z}/{x}/{y}.pbf", opts).on("mouseover", function (e) {
            //         L.popup()
            //             .setContent(e.layer.properties.name || e.layer.properties.type)
            //             .setLatLng(e.latlng)
            //             .openOn(mymap);
            //         L.DomEvent.stop(e);
            //     }).addTo(mymap);

            // const adm = L.vectorGrid
            //     .protobuf("{% url 'djangostreetmap:admin' %}{z}/{x}/{y}.pbf", opts)
            //     .on("mouseover", function (e) {
            //         L.popup()
            //             .setContent(e.layer.properties.name || e.layer.properties.type)
            //             .setLatLng(e.latlng)
            //             .openOn(mymap);
            //         L.DomEvent.stop(e);
            //     })
            //     .addTo(mymap);

            // const highways = L.vectorGrid
            //     .protobuf("{% url 'djangostreetmap:highways' %}{z}/{x}/{y}.pbf", road_opts)
            //     .on("mouseover", function (e) {
            //         L.popup()
            //             .setContent(`Name: ${e.layer.properties.name}, type: ${e.layer.properties.highway}`)
            //             .setLatLng(e.latlng)
            //             .openOn(mymap);
            //         L.DomEvent.stop(e);
            //     })
            //     .addTo(mymap);
            // debugger;
            // const overpass = L.vectorGrid
            //     .protobuf("{% url 'djangostreetmap:overpass' %}{z}/{x}/{y}.pbf", overpass_style)
            //     .on("click", function (e) {
            //         L.popup()
            //             .setContent(e.layer.properties.tag)
            //             .setLatLng(e.latlng)
            //             .openOn(mymap);
            //         })
            //     .addTo(mymap);

            fetch("{% url 'djangostreetmap:overpassjson' %}").then( (data) => data.json()).then( (json_data) => L.geoJSON(json_data).addTo(mymap));
        </script>
    </body>
</html>
